<!DOCTYPE html>
<html lang='en'>
<head class='main_header'>
  <title><%= full_title(:title) %></title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<%= render 'header' %>

<body class='body'>

<%= yield %>

</body>

<%= render 'footer' %>

</html>